html, body {
  margin: 20px;
  padding-top: 20px;
}

.navbar-brand{
  color: #9e373e;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.navbar-brand:hover{
  background-color: #9e373e;
  color: #FFFFFF;
}

.full-post{
  background-color:antiquewhite;
  background-size:100% auto;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 450px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.post-detail{
  background-color:antiquewhite;
  background-size:100% auto;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 550px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.album-listing{
  background-color:antiquewhite;
  background-size:auto 100%;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 175px;
  margin: 4px;
}

.large-post{
  background-color:antiquewhite;
  background-size:130% auto;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 350px;
  margin: 4px;
}

.normal-post{
  background-color:antiquewhite;
  background-size:auto 100%;
  background-position:50% 50%;
  background-repeat: no-repeat;
  height: 350px;
  margin: 4px;
}

.padding-fix{
  padding-left: 0;
  padding-right: 0;
}

.hover-scale{
  transition: 0.3s ease-in-out;
}

.hover-scale:hover{
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.hover-fix{
  opacity:0;
  background: #000000;
  height: 100%;
  width: 100%;
  color: antiquewhite;
  padding-top:15px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hover-fix:hover{
  opacity:0.65;
}

.body-title{
  color: #222;
  text-align: center;
  padding-bottom: 25px;
  width: 100%;
}

.body-text{
  color: #222;
}

.edit-cover{
  padding-top: 25px;
  padding-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

.edit-img{
  margin: 4px;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
